<footer class="w-full text-center bg-zinc-900 text-zinc-500 py-5 border-t-1 border-zinc-900">
    <div class="pb-2">
        <div>
            <h3 class="font-bold text-xl text-zinc-300">Contacto</h3>
            <div class="grid grid-cols-1">
                <a class="hover:text-green-600" href="">contacto@universalcar.cl</a>
                <a class="hover:text-green-600" href="">+569 9399525</a>
            </div>
        </div>
    </div>
    <div>
        <div class="border-t-1 border-purple-950 pt-3">Build by <a class="hover:text-purple-500" href="https://www.youtube.com/watch?v=AnsJ_GYPas0&list=PLI6kLIhBBwmT_jUt8YZ8v5bA9JF0ktToF">cotizcar.cl</a> | marzo 2025.</div>
    </div>
</footer>

