---
const {title, text} = Astro.props;
---

<div class="text-center p-1 bg-zinc-800 opacity-90 rounded-sm drop-shadow-xl group">
                <h2 class="text-emerald-100 font-bold text-sm opacity-70 group-hover:opacity-90">{title}</h2>
                <p class="text-emerald-50 opacity-50 group-hover:opacity-90">{text}</p>
</div>
