---
const {image} = Astro.props;
---
<div class="mx-auto duration-150 hover:scale-90">
    <div>
        <a href="">
            <img class="w-15" src={`${image}`} alt="">
            </a>
    </div>
</div>