---
import Item from './Item.astro'
---

<h2 class="mt-20 w-fit px-4 rounded-xs mb-3 mx-auto md:text-xl xs:text-lg font-bold text-neutral-200 bg-neutral-900 border-b-2 border-green-500">¿QUIENES SOMOS?</h2>

<section class="grid md:grid-cols-2 xs:grid-cols-2 gap-2 mb-20 w-11/12 mx-auto text-x text-xs">
                <Item text="Así es, tenemos gran variedad de productos, es casi imposible no encontrar lo que buscas con nosotros!" title="¡LAS TENEMOS TODAS!"/>
                <Item text="Nuestra prioridad es y siempre será el cliente, te aseguramos una bella y gentil atención :)" title="EL CLIENTE PRIMERO"/>
                <Item text="Estamos presentes en el mercado hace años! Esperamos seguir así, por lo mismo siempre trabajamos para mejorar nuestro servicio y hacer feliz a nuestros clientes <3" title="EXPERIENCIA"/>
                <Item 
                text="Porque te queremos feliz... Tenemos premios y sorteos a los clientes que compren sus accesorios y repuestos en nuestro local, te estamos esperando!" 
                title="SORTEOS/PREMIOS"/>
</section>
