---
const {title} = Astro.props;
---

<div class="bg-zinc-900 drop-shadow-xl rounded-xs pb-1 group">
    <div class="p-1">
        <a href="/producto">
        <img class="rounded-t-xs" src="/90008.png" alt=""/>
        </a>
    </div>
    <div class="text-center border-b-1 border-zinc-700 group-hover:border-green-900 duration-150">
        <h3 class="font-bold text-green-100 text-sm">{title.toUpperCase()}</h3>
    </div>
    <div class="grid grid-cols-2 text-zinc-300 text-xs text-center">
        <div class="xs:ml-2 md:m-0">
            <p>Descuento</p>
            <p>0%</p>
        </div>
        <div class="">
            <p>Precio</p>
            <p>$1500</p>
        </div>
    </div>
</div>
