<select class="md:col-span-3 xs:col-span-2 w-fit mx-auto mb-15 bg-black text-zinc-200 font-bold rounded-xs px-4 text-xs">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
