---
import Footer from "../components/home/Footer.astro"
import "../styles/global.css"
import Menu from "../components/home/Menu"
import Header from "../components/product/Header.astro"
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Universalcar</title>
	</head>
	<body class="bg-neutral-800">
		<Menu client:load/>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
